/* style.css */
body {
	font-family: sans-serif;
	background-color: #fffaf3;
	color: #333;
	padding: 2rem;
}

#arena-content {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.block {
	border: 1px solid #ccc;
	padding: 1rem;
	background: white;
	border-radius: 10px;
}
